.bodys {
	box-shadow: 0 15px 20px 23px rgba(0, 0, 0, 0.12);
	width: 860px;
	height: 1051px;
	margin:0px auto ;
	padding-top: 3px;
}
*{
	padding:0px;
}
.body {
	width: 688px;
	height: 944px;
	margin: 0 auto;
}

.divhead {
	width: 700px;
	height: 92px;
	float: left;
}

.hangone {
	width: 200px;
	height:100%;
	float:left;
}

.hangtwo{
	width: 400px;
	height:100%;
	float:right;
}

h2 {
	font-weight: normal;
	color: gray;
	letter-spacing: 1px;
	margin-top:-18px;
	font-size:20px;
}

hr {
	color: lightgray;
	margin-top: 100px;
}

.dianhua {
	color: gray;
	margin-top: 34px;
	margin-left:260px;
}

.email {
	margin-bottom: 0px;
	color: gray;
	margin-top:17px;
	margin-left:210px;
}

h1 {
	letter-spacing: 3px;
}

.icon {
	margin-top: 1px;
	margin-left: 5px;
	height: 18.5px;
	width: 18.5px;
}

.divleft {
	margin-top: 50px;
	width: 400px;
	height: 118px;
	float: left
}

.divleftdown {
	margin-top: 41px;
	width: 400px;
	height: 613px;
	float: left
}

.divright {
	margin-top: 45px;
	margin-right: 25px;
	background-image: url("../img/timg.jpeg");
	background-repeat: no-repeat;
	background-size: 134px 134px;
	border-radius: 50%;
	width: 134px;
	height: 134px;
	float: right;
}

.divrightdown {
	margin-top: 30px;
	width: 220px;
	height: 252px;
	float: right;
}

.divdown {
	margin-top: 40px;
	width: 220px;
	height: 242px;
	float: right;
}

.titles {
	width: 100%;
	display: inline-block;
	background-color: lightgray;
	font-weight: bold;
	letter-spacing: 2px;
	font-style: normal;
}

.t {
	margin-top: 10px;
	width: 100%;
	display: inline-block;
	color: gray;
}
li{
	line-height:30px;
	list-style-type:none;
	font-weight:normal;
	color: gray;
}
ul{
	margin-top:15px;
	width:100%;
}
.lili{
	line-height:25px;
}
.y{
	color:black;
}
}